<link rel="stylesheet" href="/static/css/views.css">

<div class="header">
    <h1>Appointments</h1>
</div>

<div class="table-container">
    <table id="appointmentsTable" class="display">
        <thead>
            <tr>
                <th>pxid</th>
                <th>clinicid</th>
                <th>doctorid</th>
                <th>apptid</th>
                <th>status</th>
                <th>TimeQueued</th>
                <th>QueueDate</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>type</th>
                <th>isVirtual</th>
                <th>hospitalname</th>
                <th>City</th>
                <th>Province</th>
                <th>RegionName</th>
                <th>gender</th>
                <th>age</th>
                <th>mainspecialty</th>
            </tr>
        </thead>
        <tbody>
            {{#each appointments}}
            <tr>
                <td>{{pxid}}</td>
                <td>{{clinicid}}</td>
                <td>{{doctorid}}</td>
                <td>{{apptid}}</td>
                <td>{{status}}</td>
                <td>{{TimeQueued}}</td>
                <td>{{QueueDate}}</td>
                <td>{{StartTime}}</td>
                <td>{{EndTime}}</td>
                <td>{{type}}</td>
                <td>{{isVirtual}}</td>
                <td>{{hospitalname}}</td>
                <td>{{City}}</td>
                <td>{{Province}}</td>
                <td>{{RegionName}}</td>
                <td>{{gender}}</td>
                <td>{{age}}</td>
                <td>{{mainspecialty}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>